  .button {
    border: 1px solid greenyellow;
    background-color: red;
    width: 240px;
    height: 40px;
    position: fixed;
  }

  .container {
    padding-top: 300px;
    padding-left: 300px;
  }

  .subscriptions, .chat {
    white-space: pre;
    background-color: pink;
    font-size: 25px;
  }